<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/style.css">
    <link rel="stylesheet" href="../static/dist/custom.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Ravangla Star</title>
</head>
<body class="bg-slate-100">
    <header class=" md:min-h-[800px] min-h-[500px] 
    bg-no-repeat bg-cover bg-center bg-blend-screen bg-slate-500">
        <nav class="w-full">
            <ul class="flex flex-row text-sm justify-center [&>li]:p-4 font-psb text-rs-green border-b-2 border-rs-beige border-dashed sm:[&>li]:text-xl sm:[&>li]:p-6 [&>li]:uppercase">
                <li class="hover:bg-rs-beige hover:ease-linear ease-linear duration-300 rounded-[40px] pt-1"><a href="#home">Home</a></li>
                <li class="hover:bg-rs-beige hover:ease-linear ease-linear duration-300 rounded-[40px] pt-1"><a href="#explore">Explore</a></li>
                <li class="hover:bg-rs-beige hover:ease-linear ease-linear duration-300 rounded-[40px] pt-1"><a href="#services">Services</a></li>
                <li class="hover:bg-rs-beige hover:ease-linear ease-linear duration-300 rounded-[40px] pt-1"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="flex flex-col p-10 sm:px-20 md:px-56 justify-center items-center">
            <div class=" flex justify-center flex-col sm:items-center items-center [&_img]:fill-rs-green">
                <div class="flex flex-col justify-center items-center">
                    <img class=" sm:w-40 w-20" src="../static/dist/images/logo/logo_main.png" alt="">

                    <h1 class="mt-4 text-4xl md:w-[500px] md:text-center text-rs-green font-pb md:text-[3rem] text-[2rem] text-center ">
                        Heart, Soul and the Himalayas
                    </h1>
                </div>
                <div class="flex [&_img]:w-[30px] md:[&>div]:p-4 [&>div]:p-1 sm:gap-11 sm:[&_img]:w-[3.5rem] md:[&_img]:w-[3rem] gap-0
                    pt-5 [&>div]:flex [&>div]:flex-col [&>div]:items-center [&>div]:text-rs-green [&>div]:uppercase ">
                    <div class="">
                        <img class="icons-cc" src="../static/dist/images/icons/landscape.png" alt="">
                        <p class="text-center md:text-2xl text-[12px]">Travel</p>
                    </div>
                    <div>
                        <img class="icons-cc" src="../static/dist/images/icons/travel-and-tourism.png" alt="">
                        <p class="text-center md:text-2xl text-[12px]">Adventure</p>
                    </div>
                    <div>
                        <img class="icons-cc" src="../static/dist/images/icons/resort.png" alt="">
                        <p class="text-center md:text-2xl text-[12px]">Hotels</p>
                    </div>
                    <div>
                        <img class="icons-cc" src="../static/dist/images/icons/restaurant.png" alt="">
                        <p class="text-center md:text-2xl text-[12px]">Catering</p>
                    </div>
                </div>
                <div>
                    <!-- <h1 class="text-4xl text-center text-rs-green font-pb">Heart Soul and the Himalayas</h1> -->
                </div>
    
            </div>
            <!-- <div class="px-10 md:flex hidden">
                <img src="images/buddha_park.jpg" class="w-[80rem] aspect-video h-[350px] rounded-lg object-cover shadow-2xl" />
            </div> -->
        </div>
        
    
    <main>

        <!-- adding read more option -->
        <div class="md:flex gap-1 justify-center items-center md:p-4 border-2 border-[#4D0228] md:m-32 p-2 mt-4">
            <div class="md:w-[50%] w-full text-center flex justify-center items-center">
                <img src="../static/dist/images/hospital image.png" alt="">
            </div>
            <div class="md:w-[50%] mx-auto pt-4 md:p-10">
                <h2 class="md:text-[30px] text-xl border-slate-400 font-pb text-center text-rs-green" >
                    Discover Himalayan Hospitality Where People Make the Place
                </h2>
                <p class="md:text-[15px] text-[1rem] font-pl pt-8 pl-4 pr-4 text-justify">
                    Himalayan hospitality embodies the unique blend of warmth, cultural richness, and natural beauty of the Himalayan region. It features personalized, friendly service rooted in local traditions and sustainable practices. Visitors experience cultural immersion through local cuisine, festivals, and homestays. Eco-friendly accommodations and community-based tourism ensure environmental and local benefits. The serene landscapes, biodiversity, and historical sites add to the allure, offering a holistic and memorable experience that reflects the genuine warmth and heritage of the Himalayan people.
                    Himalayan hospitality is renowned for its genuine warmth and friendliness. Hosts often go out of their way to make guests feel at home. Services are tailored to meet the individual needs and preferences of guests, providing a more personalized experience. Himalayan Hospitality offers a blend of cultural richness, personalized service, sustainable practices, adventure, wellness, and natural beauty, creating a unique and memorable experience for visitors.
                </p>
            </div>
        </div>





        

<!-- responsive design by nipun-->
<div class="bg-rs-beige-c">
    <div class="flex justify-center pt-[5rem]">
        <h1 class="text-4xl text-center">Discover Unique Experience at Three Distinct Locations</h1>
    </div>
        <div class="flex flex-col md:flex-row justify-evenly w-auto">
            
            <div class="mt-[2rem] mb-20 flex flex-col items-center">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Zis2cXdglxbZemS3QNsdZQHaE8%26pid%3DApi&f=1&ipt=c42e9060544bb2aa8ee8bf1902aec31a14ec8934ea620079f4c661c7bd450787&ipo=images" alt="" class="h-[20rem] w-[24rem] rounded-3xl aspect-auto">
                <h2 class="text-center font-pb ">Ravongla Star</h2>
                <p class="h-[10rem] w-[24rem] text-center font-pl">Nestled in the tranquil town of Ravongla, Sikkim, Ravongla Star offers stunning mountain views and unparalleled hospitality, providing a serene retreat for relaxation and rejuvenation. 
                    Experience the perfect blend of comfort and natural beauty in the heart of the Himalayas.</p>
                <a href="ravongla_star"><button class="border-2 rounded-2xl h-[3rem] w-[8rem] text-rs-white bg-rs-green hover:bg-rs-beige duration-[2s] hover:text-slate">explore more</button></a>
            </div>
            <div class="mt-[2rem] mb-20 flex flex-col items-center">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.LyrE9c3v14jezSL-0JA8DgHaEK%26pid%3DApi&f=1&ipt=a41aada6fec9dbf129f45b9e6b963d7f0f05b382240e44de5323a7af9e85628b&ipo=images" alt="" class="h-[20rem] w-[24rem] rounded-3xl aspect-auto">
                <h2 class="text-center font-pb ">Bamboo Inn</h2>
                <p class="h-[10rem] w-[24rem] text-center font-pl">Situated in the vibrant city of Gangtok, Sikkim, Bamboo Inn features exquisite bamboo interiors that create a warm and inviting ambiance. 
                    Enjoy modern comforts and unique design elements that reflect the natural beauty of the region.</p>
                <a href=""><button class="border-2 rounded-2xl h-[3rem] w-[8rem] text-rs-white bg-rs-green hover:bg-rs-beige duration-[2s] hover:text-slate">explore more</button></a>
            </div>
            <div class="mt-[2rem] mb-20 flex flex-col items-center">
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.J_hBiMP2amapfny5QDgOZAHaEU%26pid%3DApi&f=1&ipt=dc918b12d8d62844e096fd1ccf18c31a3ad8bb1734afb3648ab8c9ce16506422&ipo=images" alt="" class="h-[20rem] w-[24rem] rounded-3xl aspect-auto">
                <h2 class="text-center font-pb ">Valley View</h2>
                <p class="h-[10rem] w-[24rem] text-center font-pl"> Located in Pelling, Valley View offers breathtaking vistas of Mt. Kanchenjunga, providing guests with an unforgettable scenic experience. 
                    Revel in the comfort and tranquility of our well-appointed rooms, perfectly complemented by stunning mountain views.</p>
                <a href=""><button class="border-2 rounded-2xl h-[3rem] w-[8rem] text-rs-white bg-rs-green hover:bg-rs-beige duration-[2s] hover:text-slate">explore more</button></a>
            </div>
        </div>
 </div>
       
        

        <!-- <div class="flex flex-col md:flex-row p-10 bg-rs-beige-c">
        <div class="flex flex-col justify-center items-center p-10 md:w-[40%] bg-rs-beige shadow-lg">
            <h2 class=" text-rs-green text-2xl font-pl text-center">Ravangla Star</h2>
            <p class="pt-3 text-center font-pl text-rs-green text-xl md:w-[80%]">
                    Nestled in the serene valleys, Ravangla Star is a sanctuary of peace and tranquility. 
                    This property boasts a range of rooms designed to provide comfort while immersing you in the local culture.
            </p>
        </div> -->

        <!-- <div class=""> -->
            <!-- <div class="grid grid-flow-col place-content-start snap-x gap-4 px-4 overflow-x-auto pt-10 no-scrollbar sm:ml-5">
                <div class="w-[300px] md:w-[500px] snap-start">
                    <img class="w-full" src="./dist/images/hotels/image1.jpeg" alt="Mountain View Suites">
                    <h3>Mountain View Suites:</h3>
                    <p>Wake up to the majestic views of the Himalayan peaks. These suites are elegantly furnished with local artisanal décor, offering a perfect blend of luxury and authenticity.</p>
                </div>
                <div class="w-[300px] md:w-[500px] snap-start">
                    <img class="w-full" src="./dist/images/hotels/hotel2.jpeg" alt="Heritage Rooms">
                    <h3>Heritage Rooms:</h3>
                    <p>Step back in time with our Heritage Rooms, adorned with traditional artifacts and antique furnishings. These rooms tell the stories of the region’s rich history and vibrant culture.</p>
                </div>
                <div class="w-[300px] md:w-[500px] snap-start">
                    <img class="w-full" src="./dist/images/hotels/hotel3.jpeg" alt="Eco Cottages">
                    <h3>Eco Cottages:</h3>
                    <p>For the environmentally conscious traveler, our Eco Cottages are an ideal choice. Built with sustainable materials, these cottages offer a cozy and intimate stay, surrounded by the natural beauty of the Himalayas.</p>
                </div>
                <div class="w-[300px] md:w-[500px] snap-start">
                    <img class="w-full" src="./dist/images/hotels/hotel3.jpeg" alt="Eco Cottages">
                    <h3>Eco Cottages:</h3>
                    <p>For the environmentally conscious traveler, our Eco Cottages are an ideal choice. Built with sustainable materials, these cottages offer a cozy and intimate stay, surrounded by the natural beauty of the Himalayas.</p>
                </div>
                <div class="w-[300px] md:w-[500px] snap-start">
                    <img class="w-full" src="./dist/images/hotels/hotel3.jpeg" alt="Eco Cottages">
                    <h3>Eco Cottages:</h3>
                    <p>For the environmentally conscious traveler, our Eco Cottages are an ideal choice. Built with sustainable materials, these cottages offer a cozy and intimate stay, surrounded by the natural beauty of the Himalayas.</p>
                </div>
            </div> -->
        <!-- </div> -->
        
    </div>

    <div class=" pt-20 pb-20 bg-[#FFE9D0] flex flex-col items-center" id="services">
        <h1 class="font-pb text-3xl text-rs-green pb-8">SERVICES PROVIDED</h1>
        <div class="grid md:grid-flow-col grid-flow-row gap-4  items-center content-center place-content-center ">
            <div class=" group h-[400px] w-[350px] md:w-[300px] bg-center bg-cover bg-[url(images/services/event_food.jpg)]
            flex flex-col justify-center items-center">
                <!-- <img class="w-full" src="images/hotels/image1.jpeg" alt="Mountain View Suites"> -->
                <h3 class="font-pl uppercase text-3xl text-rs-beige group-hover:scale-125 duration-500">Events & Catering</h3>
                <!-- <button class="hidden group-hover:inline-flex">Book Now</button> -->
                <a class=" opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-rs-beige text-2xl font-psb mt-5 p-2 bg-rs-green
             rounded-md" href="#contact">Book Now</a>
            </div>
            <div class="group h-[400px] w-[350px] md:w-[300px] bg-[url(images/services/toursandtravel.jpeg)] bg-center bg-cover
            flex flex-col justify-center items-center">
                <!-- <img class="w-full" src="images/hotels/image1.jpeg" alt="Heritage Rooms"> -->
                <h3 class="font-pl uppercase text-3xl text-rs-beige group-hover:scale-125 duration-500">Vacations</h3>
                <!-- <button class="hidden group-hover:inline-flex">Book Now</button> -->
                <a class=" opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-rs-beige text-2xl font-psb mt-5 p-2 bg-rs-green
             rounded-md" href="#contact">Book Now</a>
            </div>
            <div class="group h-[400px] w-[350px] md:w-[300px] bg-[url(images/services/root.jpg)] bg-center bg-cover
            flex flex-col justify-center items-center">
                <!-- <img class="w-full" src="images/hotels/image1.jpeg" alt="Eco Cottages"> -->
                <h3 class="font-pl uppercase text-3xl text-rs-beige group-hover:scale-125 duration-500">Roots & Shoots</h3>
                <!-- <button class="hidden group-hover:inline-flex">Book Now</button> -->
                <a class=" opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-rs-beige text-2xl font-psb mt-5 p-2 bg-rs-green
             rounded-md" href="#contact">Book Now</a>
            </div>
            <div class="group h-[400px] w-[350px] md:w-[300px] bg-[url(images/services/hotels.jpg)] bg-center bg-cover
            flex flex-col justify-center items-center">
                <!-- <img class="w-full" src="images/hotels/image1.jpeg" alt="Eco Cottages"> -->
                <h3 class="font-pl uppercase text-3xl text-rs-beige group-hover:scale-125 duration-500">Hotels</h3>
                <!-- <button class="hidden group-hover:inline-flex">Book Now</button> -->
                <a class=" opacity-0 group-hover:opacity-100 transition-opacity duration-300 text-rs-beige text-2xl font-psb mt-5 p-2 bg-rs-green
             rounded-md" href="#contact">Book Now</a>
            </div>
        </div>
    </div>
    


    
    <!-- contact us  -->
      <!-- <div class="container mx-auto max-w-4xl bg-white rounded-lg shadow-lg p-8 m-10 font-pl bg-rs-green text-rs-beige" id="contact">
        <h2 class="text-3xl font-extrabold text-gray-900 mb-6">Contact Us</h2>
        <p class="text-lg text-gray-600 mb-6"></p>
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">  -->
           <!-- Contact Form -->
          <!-- <form action="#" method="POST" class="space-y-6">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
              <input id="name" name="name" type="text" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Anuragh Koirala">
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
              <input id="email" name="email" type="email" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="example@example.com">
            </div>
            <div>
              <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
              <textarea id="message" name="message" rows="4" required class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Your request"></textarea>
            </div>
            <button type="submit" class="bg-rs-beige text-rs-white shadow-lg shadow-rs-green p-4 rounded-2xl">Send Message</button>
          </form>
           -->
          <!-- Contact Information  -->
<!--     <div class="space-y-6">
            <h3 class="text-2xl font-semibold text-gray-800">Our Office</h3>
            <p class="text-lg text-gray-600">Bar pipal dara, Indira bye pass road, Sichey,
                <br>opposite to Newar Guthi bhawan,<br>Gangtok, Sikkim 737101</p>
            <p class="text-lg text-gray-600">Phone: <a href="tel:+1234567890" class="text-indigo-600 hover:text-indigo-700">+91 9933562045</a></p>
            <p class="text-lg text-gray-600">Email: <a href="mailto:info@travelcompany.com" class="text-indigo-600 hover:text-indigo-700">bambooin@ravanglastar.com</a></p>
          </div>
        </div>
      </div> -->

    </main>








    <footer class="">

        <div>
            <img src="../static/dist/images/ravongla_map.jpeg" alt="" class="w-full">
        </div>

    <div class="w-full h-[400px] bg-[#99d5d6]
        flex sm:flex-row flex-col justify-around items-center">
            <div class="flex items-center gap-3 justify-center sm:border-r-2 border-rs-green sm:pr-10 pt-10 pb-10">
                <img src="../static/dist/images/logo/logo_main.png" class="w-28" alt="">
                <div>
                    <h1 class="sm:text-5xl text-3xl font-psb text-rs-green">Ravongla Star</h1>
                    <h2 class="sm:text-2xl font-pl text-rs-green">Heart Soul, and the Himalayas</h2>

                </div>
            </div>
            <div class="pt-5">
                <h3 class="text-rs-green font-pl text-xl">Opposite Power Colony Kewzing Road</h3>
                <h3 class="text-rs-green font-pl text-xl">Ravongla, Sikkim</h3>
                <h3 class="text-rs-green font-pl text-xl">737139</h3>
            </div>
                <div class="bg-gray-100 flex flex-col items-center justify-center h-screen place-content-center">
                    <h3 class="self-start pb-3 font-psb text-lg">Follow Us</h3>
                    <div class="flex justify-between gap-8 self-start">

                      <!-- Facebook -->
                      <a href="https://facebook.com" class="text-rs-green hover:text-rs-beige transition-colors duration-300">
                        <i class="fab fa-facebook-f text-4xl"></i>
                      </a>
                      <!-- Twitter -->
                      <a href="https://twitter.com" class="text-rs-green hover:text-rs-beige transition-colors duration-300">
                        <i class="fab fa-twitter text-4xl"></i>
                      </a>
                      <!-- Instagram -->
                      <a href="https://instagram.com" class="text-rs-green hover:text-rs-beige transition-colors duration-300">
                        <i class="fab fa-instagram text-4xl"></i>
                      </a>
                      <!-- LinkedIn -->
                      <a href="https://linkedin.com" class="text-rs-green hover:text-rs-beige transition-colors duration-300">
                        <i class="fab fa-linkedin-in text-4xl"></i>
                      </a>
                    </div>
                  
                </div>
            </div>
            </div>
        </div>


        <!-- <div class="ft w-full h-[800px] md:bg-cover bg-center bg-cover">
        </div> -->


        <div class="w-full h-[14rem] bg-rs-green">
            <h3 class="text-center text-rs-beige  translate-y-[50%]"></h3>
            <h3 class="text-center text-rs-beige  translate-y-[50%]">All rights reserved</h3>
            <h3 class="text-center text-rs-beige  translate-y-[50%]">copyright 2024</h3>
        </div>

    </footer>
    

    
    <script src="util.js"></script>
    
</body>
</html>